<div class="header" id="header1">

    <div class="row">

    <div class="nine columns">
      <div id="main-greeting"><h4> Small acts, big impacts</h4></div>
    </div>
      <div class="three columns">
        <span id="greetings"> <%= @user.username %> </span>
      </div>
    </div>

  <div class="row">
    <div class="six columns">
      <h5 id="share-something-form-toggle">Share something kind</h5>
    </div>
    <div class="six columns">
      <span id="hot-tab"> Hot</span> <span id="new-tab"> New </span>
    </div>
    <div class="submit-form">
        <form action= "/hands" enctype="multipart/form-data" class="new_hand" id="new_hand">
          <%= token_tag %>
          <div class="u-full-width">
            <input type="file" name="hand[image]" id="file">
            <label for="headline">Headline</label>
            <input id="headline" type="text" name="hand[title]" placeholder="Headline....">
          </div>
          <div class="u-full-width">
            <label for="actOfKindness">Describe the kind act</label>
            <input id="actOfKindness" type="text" name="hand[message]" placeholder="Act of Kindness....">
          </div>
          <input id="submit-hand" class="button-primary" type="submit" value="Share the Love!">
        </form>
    </div>
  </div>

</div>

<div class="container" id="content-wrapper">

    <div class="nine columns" id="hand-stage"></div>
    <div class="three columns" id="sidebar">
      <%= form_tag('/session_log_out', method: :delete) do %>
      <%= submit_tag "Log-Out" %>
      <% end %>
      <div class="map-wrapper"><div class= "map" id="smallMap"></div></div>

    </div>
</div>

<script>
//DECLARES TIME/DATE VARS
var today = new Date();
var hourNow = today.getHours();
var greeting;
var display = $('#greetings')

//DISPLAYS TIME-BASED GREETING TO CURRENT_USER
function heyYall(){
  if (hourNow > 18){
    greeting = 'Good Evening, ';
  } else if (hourNow > 12){
    greeting = 'Good Afternoon, ';
  } else if (hourNow > 0){
    greeting = 'Good Morning, ';
  } else {
    greeting = 'Welcome, ';
  }
  display.prepend(greeting);
}

heyYall()
</script>
